<h2>Accueil</h2>

<div class="container">
  <a mat-raised-button routerLink="/ajout-utilisateur" color="primary">
    <mat-icon>add</mat-icon>
    Ajouter un utilisateur
  </a>

  <div class="row">
    <div *ngFor="let utilisateur of listeUtilisateur" class="col-6">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar></div>
          <mat-card-title>
            {{ utilisateur.prenom }} {{ utilisateur.nom }}</mat-card-title
          >
          <mat-card-subtitle>Utilisateur</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a
            [routerLink]="['/edit-utilisateur', utilisateur.id]"
            mat-raised-button
            color="primary"
          >
            <mat-icon fontIcon="edit"></mat-icon>
            Modifier
          </a>
          <button
            (click)="onDeleteUser(utilisateur.id)"
            mat-raised-button
            color="warn"
          >
            <mat-icon fontIcon="delete"></mat-icon>
            Supprimer
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
